.todo {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 1rem;
  transition: background .3s ease;

  p, input {
    margin: 0;
  }

  > :first-child {
    margin-right: 1rem;
  }

  &:hover {
    background: #f0f0f0;
  }
}

.todo-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-row__delete {
  display: flex;
  cursor: pointer;
  background: #fff;
  transition: background .3s ease;
}


.todo__subtext {
  color: #999;
}

.todo_delete {
  display: none;
}

.todo-completed {
  p, .todo-subtext {
    color: $light-color;
    text-decoration: line-through;
  }
  .todo_delete {
    display: flex;
    align-self: center;
    margin-left: 1rem;
    float: right;
  }
}
